# Object file
*.o

# Ada Library Information
*.ali
catatan ini adalah catatan testing atau latihan bagaimana mengenal tentang github
{
jadi mohon maklum 
jika didalam nya terdapat catatan-catatan yang kurang jelas..
}
terimakasih
